*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
.head{
	width: 100%;
	height: 130px;
	background: #f0182c;
}
.body{
	width: 100%;
	margin: 0 auto;
}
#logo{
	float: left;
	width: 30%;
	height: 100%;
	margin-top: 10px;
}
.img{
	background: #000000;
}
.main{
	width: 100%;
}
.than{
	width: 95%;
	margin: 0 auto;
	padding-top: 35px;
}
.text-l p{
	padding-top: 25px;
}
iframe{
	padding-top: 15px;
	padding-left: 25px;
	border-radius: 40px;
}
.form-log{
	padding-top: 35px;
}
.form-log label{
	font-size: 28px;
}
.inpu{
	margin: 10px 15px;
	width: 80%;
	height: 50px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 24px;
	text-indent: 10px;
}
.hoten{
	margin-left: 35px;
}
.email{
	margin-left: 77px;
}
.tieude{
	margin-left: 60px;
}
.nd-inpu{
	margin-left: 39px
}
.f-but{
	margin-top: 15px;
	width: 15%;
	height: 60px;
	font-weight: bold;
	font-family: Arial;
	font-size: 18px;
	border-radius: 5px;
	margin-left: 17%;
	box-shadow: inset 7px 5px rgba(178,178,178,0.5);
}
.b-menu{
	width: 100%;
	margin-top: 35px;
}
.control{
	width: 100%;
	height: 90px;
	background: #dd2003;
}
#control1{
	font-family: Arial;
	color: white;
	font-size: 40px;
	position: relative;
	top: 15px;
	left: 65px;
}
.icon{
	background: url('img/len.png') no-repeat 0 0;
	display: inline-block;
	width: 53px;
	height: 45px;
	background-size: 40px;
	position: relative;
	top: 12px;
}
.all-menu{
	width: 100%;
	background: #4c4c4c;
	height: 400px;
}
.bao{
	width: 95%;
	margin: 0 auto;
}
#menu1{
	width: 48%;
	display: block;
	float: left;
	margin: 0 auto;
}
#menu1>ul>li{
	height: 60px;
	padding-bottom: 30px;
	border-bottom: 1.5px solid white;
	padding-top: 30px;
}
#menu1>ul>li>a{
	color: white;
	font-family: Arial;
	font-size: 45px;
	position: relative;
	left: 55px;
}
#menu2{
	width: 48%;
	display: block;
	float: right;
	margin: 0 auto;
}
#menu2>ul>li{
	height: 60px;
	padding-bottom: 30px;
	border-bottom: 1.5px solid white;
	padding-top: 30px;
}
#menu2>ul>li>a{
	color: white;
	font-family: Arial;
	font-size: 45px;
	position: relative;
	left: 45px;
}
.foot{
	width: 100%;
	background: #333333;
	border-top: 1.5px solid red;
}
.foot>p{
	color: #666769;
	width: 90%;
	padding-bottom: 85px;
	margin: 0 auto;
	margin-top: 25px;
	font-size: 12px;
	text-indent: 10px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(210,210,210, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    line-height: 380%;
}

.overlay a {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border: 1px solid #c55c28;
}

.overlay a:hover, .overlay>a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}