*{
	padding: 0;
	margin: 0;
}
body{
	width:100%;
}
ul li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
.top1{
	width: 100%;
	background: #f7f8fa;
	height: 35px;
}
.c1{
	width: 1200px;
	margin: 0 auto;
}
.c1>ul>li>a{
	color: #a5a6a8;
	font-family: Arial;
	font-size: 14px;
}
.h-menu1{
	float: left;
	width: 25%;
	margin-top: 5px;
}
.h-menu1>li{
	padding-left: 5px;
}
.gopy{
	float: left;
	width: 15%;
	border: 1px solid #c30300;
	color: white;
	margin-top: 3px;
	background: #c30300;
	border-width: 5px;
	border-radius: 2px;
	font-family: Arial;
}
.h-menu2{
	float: right;
	margin-top: 5px;
}
.top2{
	width: 100%;
	height: 180px;
	background: white;
}
.logo{
	width: 1200px;
	margin: 0 auto;
}
#fix-img{
	float: left;
	width: 20%;
}
.tintuc{
	float: left;
	width:500px;
	height: 163px;
	overflow: hidden;
	margin-right: 50px;
	margin-top: 5px;
	padding-left: 3px;
}
#gachtintuc{
	width: 19px;
	height: 2px;
	display: block;
	background: #d8d8d8;
	margin-right: 16px;
	float: left;
	margin-top: 6px;
}
.tinmoi{
	color: #e53333;
	font-size: 13px;
	text-transform: uppercase;
}
#time{
	color: #5a5f62;
	display: block;
	float: left;
	margin-right: 7px;
	font-size: 12px;
	font-family: Arial;
	width: 30px;
	border-right: 1px solid #f0f0f0;
	padding-right: 7px;
	margin-top: 1px;
}
#text{
	float: left;
	width: 430px;
	color: #0b75b1;
	font-family: Arial;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.chiso{
	width: 306px;
	float: left;
	position: relative;
	left: 10px;
}
.mucphu{
	width: 100%;
	float: left;
	margin-top: 46px;
}
.chiso .mucphu a{
	font-family: Arial;
	font-size: 12px;
	color: #7d7d7d;
	background: #f0f2f4;
	padding: 4px 18px;
	display: inline-block;
	border-radius: 10px;
	margin-top: 8px;
	margin-right: 6px;
	text-transform: capitalize;
}
/*create menu*/
nav{
	height: 44px;
	width: 100%;
	background: #2c3441;
}
.nav1{
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: 0px;
}
.menu{
	width: 1200px;
	margin: 0 auto;
}
.menu>ul>li{
	padding: 10px 10px;
}
.menu>ul>li:hover{
	background: #d60000;
}
.menu>ul>li>a{
	color: white;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
	float: left;
	margin-top: 5px;
}
.icon{
	position: relative;
	left: 50px;
}
.search{
	float: right;
	margin-top: -44px;
	width: 300px;
	height: 35px;
}
.S-input{
	background: #fff;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	text-indent: 10px;
}
.S-but{
	width: 35px;
	background: none;
	height: 35px;
	border: none;
	position: relative;
	top: -37px;
	left: 263px;
}
.img-v{
	width: 100%;
	background: #f4f4f4;
	margin: 0 auto;
	text-align: center;
}
/*create main*/
.main{
	width: 100%;
	background: #f4f4f4;
}
.than{
	width: 1200px;
	margin: 0 auto;
	padding-top: 15px;
	background: #fff;
	border: 1px solid gray;
	box-shadow: 0 0 1px 0;
}
.c-ar1{
	padding: 30px 15px;
}
article{
	width: 65%;
	float: left;
	padding-left: 15px;
}
#fix{
	font-size: 14.5px;
	font-family: Arial;
	font-weight: bold;
	color: gray;
	padding-bottom: 25px;
	padding-left: 65px;
}
.none{
	height: 30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
	padding-left: 75px;
}
#thongtin{
	width: 100%;
	padding-left: 15px;
	display: inline-block;
	padding-bottom: 25px;
	padding-top: 25px;
}
#t-fix{
	width: 100px;
	float: left;
	color: #5a5f62;
	display: block;
	margin-right: 7px;
	font-size: 14px;
	font-family: Arial;
	border-right: 1px solid #f0f0f0;
	padding-right: 7px;
	margin-top: 1px;
	text-align: center;
}
#text-f{
	float: left;
	width: 550px;
	color: #0b75b1;
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
.start{
	padding: 5px 0;
}
.t{
	padding-left: 65px;
}
.t p{
	margin: 14px 0;
	font-size: 17px;
	font-family: Times new roman;
	line-height: 25px;
	color: #303030;
	text-align: justify;
}
.eco{
	text-align: center;
}
.link{
	margin-top: 10px;
	padding-left: 65px;
	text-indent: 25px;
}
.c-ar2{
	padding: 15px 40px;
}
.f-1{
	height: 85px;
}
.form-cont{
	display: inline-block;
	width: 40%;
	float: right;
	font-size: 18px;
	font-family: Arial;
}
.form-cont select{
	min-height: 2.2em;
	margin-right: 9px;
	border-radius: 7px;
}
.form-cont>.s-day .s-month .s-year{
	border: 1px solid #cfcfcf;
}
.b-info{
	margin: 0 auto;
	width: 100%;
	height: 410px;
}
#info1{
	float: left;
	width: 35%;
	text-align: justify;
	padding-right: 18px;
}
#info2{
	float: left;
	width: 35%;
}
#info3{
	float: left;
	width: 25%;
	padding-left: 5px;
}
#info3>ul>li{
	padding: 8px 0;
	border-bottom: 1px dotted gray;
}
#im{
	float: left;
	padding: 5px 8px;
}
#t-1{
	font-size: 25px;
	font-weight: bold;
}
.info4{
	border-top: 3px solid #423d3d;
	width: 100%;
	padding-top: 10px;
}
.them{
	width: 70%;
	float: left;
	padding-right: 15px;
}
.qc{
	width: 25%;
	float: left;
}
#ds{
	padding-top: 15px;
}
#chu{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #150b14;
	text-align: left;
}
.time{
	width: 120px;
	color: #5a5f62;
	float: left;
	font-size: 16px;
	font-family: Arial;
	margin-top: 8px;
	margin-left: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
}
#nd{
	font-family: Arial;
	font-size: 13px;
	padding-top: 50px;
	color: #4c4c4c;
	text-indent: 5px;
}#ds>ul>li{
	padding: 10px 0;
	border-bottom: 1px dotted gray;
}
.nav2{
	background: #fff;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.nav2>.menu>ul>li>a{
	color: black;
}
/*create footer*/
footer{
	width: 100%;
	background: #f8f8fa;
	height: 210px;
}
.foot{
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
	font-family: Arial;
	font-size: 14px;
}
.foot1{
	width: 33%;
	float: left;
	border-right: 1px solid gray;
	padding-bottom: 26.5px;
	padding-top: 25px;
}
.foot2{
	width: 33%;
	float: left;
	border-right: 1px solid gray;
	padding-left: 5px;
	padding-bottom: 76px;
	padding-top: 25px;
}
.foot3{
	width: 33%;
	float: left;
	padding-left: 5px;
	padding-bottom: 76px;
	padding-top: 25px;
}
#f-word{
	font-family: Arial;
	color: #200f21;
	font-size: 15px;
	font-weight: bold;
}