*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, #fefefe),color-stop(0.7, #c3c0b4));
}
.all{
	width: 1050px;
	margin: 0 auto;
	border: 1px solid #dadada;
	box-shadow: 0 0 20px 0;
	margin-bottom: 20px;
	background: #fff;
}
header{
	width: 100%;
	margin: 0 auto;
	padding: 0 0 24px 0;
	height: 90px;
	background: url('img/gioithieu/bg2.jpg') repeat-x bottom #fff;
}
.clear{
	clear: both;
}
.none{
	border-bottom: 2px solid #ec7600;
	padding-top: 5px;
	width: 98%;
	margin: 0 auto;
}
.main{
	width: 100%;
}
.than{
	width: 75%;
	margin: 0 auto;
	padding-left: 15px;
	padding-top: 25px;
	padding-bottom: 50px;
}
.than>p{
	font-size: 16px;
	line-height: 24px;
	font-family: Arial;
}
.info1{
	padding: 50px 0;
	width: 95%;
}
.info1>p{
	padding: 20px 10px;
	border-left: 5px solid #fbcf24;
	line-height: 24px;
	color: #333;
	font-family: Arial;
	font-size: 14px;
}
#txt1{
	text-indent: 15px;
}
#txt1>li{
	display: list-item;
	padding: 3px;
}
.info2{
	padding: 50px 0;
}
.info2 p{
	line-height: 24px;
	color: #333;
	padding: 15px 15px;
	font-family: Arial;
	font-size: 14px;
}
.logo{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}